body {
    background-image: linear-gradient(0deg, rgb(20,0,50), rgb(0,0,0));
    background-attachment: fixed;
}


div {
    background-color: rgb(36, 19, 68);
    max-width: 900px;
    min-width: 300px;
    height: 350px;
    border-radius: 50px;
    margin: 20vh auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    text-align: center;
    padding: 20px 0px 50px 0px;
}

#timer {
    font: normal 130px arial;
    color: white;
    text-shadow: 0px 0px 5px white;
    margin-top: 20px;
   
}
.zerar, .pausar, .inicio {
    width: 250px;
    height: 70px;
    border-style: none;
    border-radius: 20px;
    background-color: rgb(34, 8, 85);
    font: bold 40px arial;
    color: white;
    text-shadow: 0px 0px 5px rgb(255,255,255,0.7);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
    margin: 0px 20px;
}
.zerar:hover, .inicio:hover, .pausar:hover {
    background-color: rgb(32, 23, 48);
    cursor: pointer;
}
